{% extends 'base.html' %}
{% load static %}

{% block content %}
<html>
   <head>
      <title>Capstone Project</title>
   </head>
   <body>
      <h1 style="text-align:center;">Who Told you About This</h1>
      <div class="container-md">
         <div class="row">
             {% for product in products %}
             <div class="card" style="height:3in; width: 3in;">
               <a href="{% url 'products:clothes' product.id %}"><img class="card-img-top" src="{{ product.image }}"/></a>
               <div class="card-body">
                 <h5 class="card-title" style="text-transform: capitalize; color: red;">{{product.name}}</h5>
                 
                 <a href="{% url 'products:clothes' product.id %}" class="btn btn-dark"">Interested?</a>
               </div>
             </div>
             {% endfor %}
         </div>
     </div>
     
   </body>
</html>
{% endblock %}